/Temp
/Library/metadata
/Library/ScriptAssemblies
/*.csproj
/*.csproj
/*.sln
/*.sln

/*.pidb

/*.userprefs
/Library/ShaderCache
/Library/*.log
/Library/CrashedAssetImports.txt
*.meta

/Publish/Zugfarhplan
